@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-[Poppins] text-gray-900;
}

.fire-text {
  font-size: 8rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  background: url("../assets/fire.mp4"); /* Background video */
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.fire-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
